version: 2
updates:
  - package-ecosystem: github-actions
    directory: /
    schedule:
      interval: monthly
    registries:
      - github
    groups:
      gh-actions:
        patterns:
          - "*"
    cooldown:
      default-days: 7
